.edit-item
  %p{style: 'display: inline;'}
    %i.icon-user
    = edit.user.login

  .pull-right
    %i.icon-time
      = edit.created_at.strftime('%e %b %Y %I:%M %p')

    - if defined? show_perma_link
      |
      = link_to 'permalink', language_admin_edit_path(language_id: current_language, id: edit)

  - if Book.associated_records.include?(edit.editable_type) && edit.book_id

    %p
      .row
        %code.col-md-2.edit-attribute Edited in book
        .col-md-8
          = link_to edit.book.grandham_id, language_book_path(edit.book.language, edit.book), target: '_blank'

  %p
    .row
      %code.col-md-2.edit-attribute= edit.editable_type
      .col-md-8
        = link_to edit.editable.grandham_id, send("language_#{edit.editable_type.downcase}_path", edit.editable.language, edit.editable), target: '_blank'
  %p
    .row
      %code.col-md-2.edit-attribute= "#{edit.field.capitalize} (old)"
      .col-md-8
        = edit.old_value

  %p
    .row
      %code.col-md-2.edit-attribute= "#{edit.field.capitalize} (new)"
      .col-md-8
        = edit.new_value

  %br

  - if Book.associated_records.include?(edit.editable_type) && edit.book_id
    = link_to "Save #{edit.editable_type.downcase}", approve_language_admin_edit_path(language_id: current_language, id: edit), class: 'btn btn-small btn-success', method: :post

    = link_to "Replace #{edit.editable_type.downcase} in book", replace_language_admin_edit_path(language_id: current_language, id: edit), class: 'btn btn-small btn-success', method: :post
  - else
    = link_to 'Approve', approve_language_admin_edit_path(language_id: current_language, id: edit), class: 'btn btn-small btn-success', method: :post

  = link_to 'Discard', discard_language_admin_edit_path(language_id: current_language, id: edit), class: 'btn btn-small btn-primary', method: :post
