.container
  .row
    .span8
      %h3 Books
    .span4
      .pull-right
        = link_to 'Add', new_language_admin_book_path(current_language), class: 'btn btn-primary'

  .row
    .span12
      %table.table.table-striped.grandham-list-data-table
        %thead
          %th Book
          %th
        %tbody.grandham-list
          - @books.each do |book|
            %tr
              %td.tex-item
                = link_to formatted_name(book), language_book_path(book.language, book)
              %td.tex-item
                = link_to edit_language_book_path(current_language, book, return_to: 'admin') do
                  edit

                - if book.published?
                  = link_to unpublish_language_admin_book_path(current_language, book), method: :post, class: 'book-manage-link' do
                    unpublish
                - else
                  = link_to publish_language_admin_book_path(current_language, book), method: :post, class: 'book-manage-link' do
                    publish

                = link_to language_admin_book_path(current_language, book), method: :delete, class: 'book-manage-link', confirm: 'Are you sure?' do
                  delete