.container
  %br
  .row
    .span10.offset2
      %h2 Sign up
      .row
        .span4.sign-in-container
          = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
            = f.error_notification
            .form-inputs
              = f.input :email, :autofocus => true
              = f.input :password
              = f.input :password_confirmation

              = f.button :submit, "Sign up", class: 'btn btn-primary'

        .span5.social-sign-in-container
          %p
            Already have an account?
            = link_to 'Sign in', new_user_session_path
          %br
          %p Or you can
          .row
            .span2
              %button.btn.btn-info Sign in with Facebook
            .span2
              %button.btn.btn-success Sign in with Google