.submission-item
  - submission.details.each do |key, value|
    %p
      .row
        %code.span2.submission-attribute= key.capitalize
        .span8
          = value

  = render partial: 'associated_records', locals: { submission: submission, object: 'author' }
  = render partial: 'associated_records', locals: { submission: submission, object: 'publisher' }

  .pull-left


  .pull-right
    %p
      Submitted by
      = link_to 'Radha', '#'
      on
      = submission.created_at.strftime('%e %b %Y (%I:%M %p)')
      - if defined? show_perma_link
        |
        = link_to "Review ##{submission.id}", language_admin_review_path(language_id: current_language.short_code, id: submission.id)
  %br

  .form-actions
    = link_to 'Approve', '#', class: 'btn btn-success'
    = link_to 'Archive', '#', class: 'btn btn-primary'
    = link_to 'Comments (5)', '#', class: 'btn btn-info'