= simple_form_for @author, html: { class: 'form-horizontal' }, multipart: true do |f|
  %fieldset
    %legend= 'Edit Author'

  = f.input :name, as: :string, input_html: { class: 'input-xxlarge' }

  = f.fields_for :profile_pictures do |profile_picture_form|
    .control-group
      = profile_picture_form.label :image, 'Profile Picture', class: 'control-label'
      .controls
        = profile_picture_form.file_field :image

  .form-actions
    = f.submit 'Submit', class: 'btn btn-primary'
    = link_to 'Cancel', language_author_path(@author.language, @author), class: 'btn'
