.row
  = render partial: 'author_nav_links', locals: { activated_page: :show, author: @author }

%br

.row
  .col-md-8

    %h2= @author.name
    %br
    %h4= "Books"

    - @author.books.first(10).each do |book|
      = render partial: 'common/book', locals: { book: book }

    - if @author.books.count > 10
      %li
        %br
          = link_to 'more..', books_language_author_path(@author.language, @author)

  .col-md-4
    .pull-right
      = image_tag author_profile_picture(@author), class: 'img-thumbnail'


