= simple_form_for @library, html: { class: 'form-horizontal' }, multipart: true do |f|
  %fieldset
    %legend= 'Edit Library'

  = f.input :name, as: :string, input_html: { class: 'input-xxlarge' }

  .form-actions
    = f.submit 'Submit', class: 'btn btn-primary'
    = link_to 'Cancel', language_library_path(@library.language, @library), class: 'btn'
