%h1 Listing libraries

%table
  %tr
    %th Name
    %th Grandham
    %th Language
    %th
    %th
    %th

  - @libraries.each do |library|
    %tr
      %td= library.name
      %td= library.grandham_id
      %td= library.language_id
      %td= link_to 'Show', library
      %td= link_to 'Edit', edit_library_path(library)
      %td= link_to 'Destroy', library, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Library', new_library_path
