.row
  = render partial: 'library_nav_links', locals: { activated_page: :show, library: @library }

%br

.row
  .col-md-8

    %h4= @library.name
    %p= @library.place
    %br
    %h5= "Books (#{@library.books.count})"

    - @library.books.first(10).each do |book|
      %li
        = link_to language_book_path(book.language, book) do
          = formatted_name book

    - if @library.books.count > 10
      %li
        %br
        = link_to 'more..', books_language_library_path(@library.language, @library)

  .col-md-4
    .pull-right
      = image_tag library_logo(@library), class: 'img-polaroid'
      

