= simple_form_for @publisher, html: { class: 'form-horizontal' }, multipart: true do |f|
  %fieldset
    %legend= 'Edit Publisher'

  = f.input :name, as: :string, input_html: { class: 'input-xxlarge' }

  .form-actions
    = f.submit 'Submit', class: 'btn btn-primary'
    = link_to 'Cancel', language_publisher_path(@publisher.language, @publisher), class: 'btn'
