.row
  = render partial: 'publisher_nav_links', locals: {activated_page: :show, publisher: @publisher }

%br

.row
  .col-md-8

    %h4= @publisher.name
    %p= @publisher.place
    %br
    %h5= "Books (#{@publisher.books.count})"

    - @publisher.books.first(10).each do |book|
      %li
        = link_to language_book_path(book.language, book) do
          = formatted_name book

    - if @publisher.books.count > 10
      %li
        %br
          = link_to 'more..', books_language_publisher_path(@publisher.language, @publisher)

  .col-md-4
    .pull-right
      = image_tag publisher_logo(@publisher), class: 'img-polaroid'


