%tr
  %td= image_tag 'rails.png'
  %td.tex-item
    = link_to book.approved_submission.title, language_book_path(book.language, book)
    %br
    = link_to 'edit', new_book_submission_path(book)
  %td.tex-item= book.approved_submission.authors.first.name
  %td.tex-item= book.approved_submission.publishers.first.name