.row
  .col-md-12
    %ul.nav.nav-tabs
      %li
        %a{href: "#"} Book
      %li.active
        %a{href: edit_language_book_path(@book.language, @book)} Edit
      %li
        %a{href: history_language_book_path(@book.language, @book)} History

%br

.row
  .col-md-8
    = simple_form_for @book, html: { class: 'form-horizontal' }, multipart: true do |f|
      %fieldset
        = f.input :title, as: :string, input_html: { class: 'input-xxlarge' }

        = f.fields_for :authors do |author_form|
          = author_form.input :name, as: :string, input_html: { class: 'input-xxlarge' }, label: 'Author'

        = f.fields_for :publishers do |publisher_form|
          = publisher_form.input :name, as: :string, input_html: { class: 'input-xxlarge' }, label: 'Publisher'

        = f.fields_for :libraries do |library_form|
          = library_form.input :name, as: :string, input_html: { class: 'input-xxlarge' }, label: 'Library'

        = f.input :isbn, as: :string, input_html: { class: 'input-xxlarge' }, label: 'ISBN'
        = f.input :year, as: :string, input_html: { class: 'input-xxlarge' }
        = f.input :pages, as: :string, input_html: { class: 'input-xxlarge' }
        = f.input :edition, as: :string, input_html: { class: 'input-xxlarge' }
        = f.input :description, as: :text, input_html: { rows: 5, cols: 50, class: 'input-xxlarge' }

        .form-actions
          = f.submit 'Submit', class: 'btn btn-primary'
          = link_to 'Cancel', root_path, class: 'btn'