%h1 Listing books

%table
  %tr
    %th Grandham
    %th Language
    %th
    %th
    %th

  - @books.each do |book|
    %tr
      %td= book.grandham_id
      %td= book.language_id
      %td= link_to 'Show', book
      %td= link_to 'Edit', edit_book_path(book)
      %td= link_to 'Destroy', book, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Book', new_book_path