.container
  .row
    .span2.well.book-cover-page-large

    .span8
      %h3= best_in_place @book, :title
      %h4= best_in_place @book.authors.first, :name
      %h5
        = best_in_place @book, :year
        ,
        = best_in_place @book.publishers.first, :name

      %p
        = best_in_place @book, :pages
        pages

      %br
      %p
        = best_in_place @book, :description, type: :textarea