.container
  .row
    .span2.well.book-cover-page-large

    .span8
      %h3
        = inplace_edit @book, :title

      %h4
        = inplace_edit @book.authors.first, :name, grandham_link: true

      %h5
        = inplace_edit @book, :year
        ,
        = inplace_edit @book.publishers.first, :name, grandham_link: true

      %p
        = inplace_edit @book, :pages
        pages

      %p
        = inplace_edit @book, :description, type: :textarea, nil: '<span>Add description</span>', ok_button: 'OK'