.container
  .row
    .span2.well.book-cover-page-large

    .span8
      %h3
        = inplace_edit @book, :title

      %h4
        = best_in_place @book.authors.first, :name
        = external_link @book.authors.first
      %h5
        = best_in_place @book, :year
        ,
        = best_in_place @book.publishers.first, :name
        = external_link @book.publishers.first

      %p
        = best_in_place @book, :pages
        pages

      %br
      %p
        = best_in_place @book, :description, type: :textarea, nil: 'click here to add description', ok_button: 'OK'