.container
  .row
    .span2.well.book-cover-page-large
      = image_tag 'rails.png'
    .span8
      %h3= best_in_place @book, :title
      %h5= best_in_place @book.authors.first, :name
      %h5
        = @book.year
        ,
        = @book.publishers.first.name
      .inline
        %h5
          = "ISBN #{@book.isbn}"
          = "| #{@book.pages} Pages"
          = "| #{@book.edition}"
      %br
      %p
        = @book.description