.row
  = render partial: 'book_nav_links', locals: { activated_page: :show, book: @book }

%br

.row
  .col-md-8

    %h2= @book.title
    %br

    %h4 Basic Information
    - authors = raw @book.authors.collect{ |a| link_to a.name, language_author_path(a.language, a) }.join(',')
    = render partial: 'books/book_information', locals: { field: 'Authors', value: authors }

    - publishers = raw @book.publishers.collect{ |p| link_to p.name, language_publisher_path(p.language, p) }.join(',')
    = render partial: 'books/book_information', locals: { field: 'Publishers', value: publishers }

    = book_information(@book, :isbn, 'ISBN')
    = book_information(@book, :pages, 'Pages')
    = book_information(@book, :year, 'Year')
    = book_information(@book, :edition, 'Edition')
    = book_information(@book, :series, 'Series')
    = book_information(@book, :volume, 'Volume')

    %h4 More Information

    = book_information(@book, :length, 'Length')
    = book_information(@book, :price, 'Price')
    = book_information(@book, :title_orginal, 'Original title')

    %br
    %h4 Libraries
    %ol
      - @book.libraries.each do |library|
        %li= link_to library.name, language_library_path(library.language, library)

    %h4 Description
    %p.book-information= @book.description

  .col-md-4
    .pull-right
      = image_tag @book.covers.last.image.url(:medium), class: 'img-thumbnail'