.container
  .row.item-control-links
    .span3.offset9
      = link_to edit_language_book_path(@book.language, @book), class: 'btn' do
        %i.icon-edit
        edit

      = link_to '#', class: 'btn' do
        %i.icon-time
        history

  .row
    .span2
      = image_tag @book.covers.last.image.url(:medium), class: 'img-polaroid'

    .span8.item-information-section
      %h4= @book.title

      .book-info
        %p.book-sub-heading
          = "AUTHOR".pluralize(@book.authors.count).upcase
        - @book.authors.each do |author|
          %p= link_to author.name, language_author_path(author.language, author)

      .book-info
        %p.book-sub-heading
          = "PUBLISHER".pluralize(@book.publishers.count).upcase
        - @book.publishers.each do |publisher|
          %p= link_to publisher.name, language_publisher_path(publisher.language, publisher)

      .book-info
        %p.book-sub-heading
          = "LIBRARY".pluralize(@book.libraries.count).upcase
        - @book.libraries.each do |library|
          %p= link_to library.name, language_library_path(library.language, library)

      .book-info
        %p.book-sub-heading
          TITLE ORIGINAL
        %p= @book.title_orginal

      .book-info
        %p.book-sub-heading
          ISBN
        %p= @book.isbn

      .row
        .span1
          .book-info
            %p.book-sub-heading
              YEAR
            %p= @book.year
        .span1
          .book-info
            %p.book-sub-heading
              PAGES
            %p= @book.pages

        .span1
          .book-info
            %p.book-sub-heading
              EDITION
            %p= @book.edition

        .span1
          .book-info
            %p.book-sub-heading
              DDC
            %p= @book.ddc

        .span1
          .book-info
            %p.book-sub-heading
              SERIES
            %p= @book.series
      .row
        .span1
          .book-info
            %p.book-sub-heading
              LENGTH
            %p= @book.length

        .span2
          .book-info
            %p.book-sub-heading
              PRICE
            %p= @book.price

      .book-info
        %p.book-sub-heading
          DESCRIPTION
        %p= @book.description

      .book-info
        %p.book-sub-heading
          PREFACE
        %p= @book.preface

      .book-info
        %p.book-sub-heading
          NOTE
        %p= @book.note