.row
  .col-md-8

    %h2= @book.title
    %br

    %h4 Basic Information
    .row
      .col-md-2
        %p Authors
      .col-md-6
        %p.book-information= raw @book.authors.collect{ |a| link_to a.name, language_author_path(a.language, a) }.join(',')

    .row
      .col-md-2
        %p Publishers
      .col-md-6
        %p.book-information= raw @book.publishers.collect{ |p| link_to p.name, language_publisher_path(p.language, p) }.join(',')

    .row
      .col-md-2
        %p ISBN
      .col-md-6
        %p.book-information= @book.isbn

    .row
      .col-md-2
        %p Pages
      .col-md-6
        %p.book-information= @book.pages

    .row
      .col-md-2
        %p Year
      .col-md-6
        %p.book-information= @book.year

    .row
      .col-md-2
        %p Edition
      .col-md-6
        %p.book-information= @book.edition

    .row
      .col-md-2
        %p Series
      .col-md-6
        %p.book-information= @book.series

    .row
      .col-md-2
        %p Volume
      .col-md-6
        %p.book-information= @book.volume

    %h4 More Information

    .row
      .col-md-2
        %p Length
      .col-md-6
        %p.book-information= @book.year

    .row
      .col-md-2
        %p Price
      .col-md-6
        %p.book-information= @book.price

    .row
      .col-md-2
        %p Original title
      .col-md-6
        %p.book-information= @book.title_orginal

    %br
    %h4 Libraries
    %ol
      - @book.libraries.each do |library|
        %li= link_to library.name, language_library_path(library.language, library)

    %h4 Description
    %p.book-information= @book.description

  .col-md-4
    .pull-right
      = image_tag @book.covers.last.image.url(:medium), class: 'img-thumbnail'