.container
  .row
    .span8.offset1
      %br
      %form{ action: search_path, method: 'get' }
        %input{ name: 'query', value: params[:query], class: 'input-xxlarge', placeholder: 'Search Title, Author, Publisher, Library, Keyword' }
        %button.btn-success{ type: 'submit' }
          %i.icon-search
          = I18n.t('.search')

  - Search::RESOURCES.each do |resource|
    - unless @results[resource.to_s.downcase].blank?
      .row
        .span8.offset1
          %h4= resource.to_s.pluralize(@results[resource.to_s.downcase].count).capitalize + " (#{@results[resource.to_s.downcase].count})"
          %ul.grandham-items-list
            - @results[resource.to_s.downcase].each do |object|
              = render partial: "#{resource.to_s.downcase.pluralize}/#{resource.to_s.downcase}", locals: { resource.to_s.downcase.to_sym => object }