%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
  %i.icon-user
  = current_user.login
  %b.caret
%ul.dropdown-menu
  - if current_user.is_an_admin?
    %li
      = link_to 'Dashboard', language_admin_dashboard_index_path(current_user.language)
  - elsif current_user.role == 'publisher'
    %li
      = link_to 'Add new publication', new_language_publisher_book_path(current_user.publisher.language)
  - elsif current_user.role == 'librarian'
    %li
      = link_to 'Add new book in library', new_language_library_book_path(current_user.library.language)
  %li
    = link_to I18n.t('.sign_out'), destroy_user_session_path, method: :delete