.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "/"}= I18n.t '.grandham'
      #main-menu.nav-collapse.collapse
        %ul#main-menu-left.nav
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              = I18n.t '.languages'
              %b.caret
            %ul#swatch-menu.dropdown-menu
              - Language.all.each do |language|
                %li
                  = link_to language.name, language_books_path(language)
          %li
            = link_to I18n.t('.books'), current_language_path('books')
          %li
            = link_to I18n.t('.authors'), current_language_path('authors')
          %li
            = link_to I18n.t('.publishers'), current_language_path('publishers')
          %li
            %a{:href => '#'} Libraries

          / TODO: Remove this link
          - if current_language
            %li
              = link_to 'Add new book', new_language_submission_path(current_language)

        %ul#main-menu-right.nav.pull-right
          %li
            %a{:href => "#"}
              Sign in