.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "/"}= I18n.t '.grandham'
      #main-menu.nav-collapse.collapse
        %ul#main-menu-left.nav
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              = I18n.t '.languages'
              %b.caret
            %ul#swatch-menu.dropdown-menu
              - Language.all.each do |language|
                %li
                  = link_to language.name, language_books_path(language)

        %ul#main-menu-right.nav.pull-right
          %li
            = link_to new_book_path do
              %i.icon-plus
              = I18n.t('.add_new_book')

          %li
            = link_to search_path do
              %i.icon-search
              = I18n.t('.search')

          - if user_signed_in?
            %li
              = render 'layouts/account_drop_down'
          - else
            %li
              = link_to new_user_session_path do
                %i.icon-user
                = I18n.t('.sign_in')