.span3.bs-docs-sidebar
  %br
  %ul.nav.nav-list.bs-docs-sidenav
    %li
      = link_to current_language_path('books') do
        - if active == 'books'
          %i.icon-chevron-right
        = I18n.t('.books')
    %li
      = link_to current_language_path('authors') do
        - if active == 'authors'
          %i.icon-chevron-right
        = I18n.t('.authors')
    %li
      = link_to current_language_path('publishers') do
        - if active == 'publishers'
          %i.icon-chevron-right
        = I18n.t('.publishers')